
body{
   
    background-color: black; 
     
}

.btn-1 button{
   
    padding: 12px;
    width: 230px;
    border-radius: 100px;
    
}
.username, img{
    display: flex ;
   justify-content: center;
   

}
.username .user{
    margin-top: 45px;

}
.username .mamoon{
    
margin-top: 50px;
}
